/*  General */ 

* {
	box-sizing: border-box;
}

:root {
	--positionX: 50;
	--rotation: -75;
	--p-size: 1.3rem;
	--main-shadow: 2px 2px 2px rgba(155, 155, 155, 0.5), -2px -2px 2px rgba(155, 155, 155, 0.3);
	--color-real: Magenta;
	--color-not-real: navy;
}

html {
	font-size: 85%;
	/* Remove click delay on mobile */
	touch-action: manipulation;
}

@media ( min-width: 900px ) {
	html {
		font-size: 100%
	}
	
}

* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.4;
	font-size: var( --p-size );
	background-color: GhostWhite;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-bottom: 2rem;
}

a, a:link, a:visited {
	color: dodgerblue;
}

section {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

/* Form */

label,
legend {
	font-size: var( --p-size );
}

input[type="radio"] {
	padding: 0;
}

input[type="radio"] + label {
	font-weight: unset;
}

input[type="text"],
button[type="submit"], 
textarea {
	border-width: 2px;
	border-color: rgba(155, 155, 155, 0.3);
	padding: 0.5rem;
	font-size: var( --p-size );
	border-radius: 3px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: Magenta;
}

button[type="submit"] {
	cursor: pointer;
	background-color: dodgerblue;
	color: white;
	font-weight: 700;
	box-shadow: 2px 2px 2px solid rgba( 0, 0, 0, 0.7 );
}

button[type="submit"]:focus {
	border-color: magenta;
}

button[type="submit"]:hover {
	background-color: DarkCyan;
}

button[type="submit"]:active {
	background-color: teal;
}

input[type="text"] {
	border-color: #999;
}

select {
	font-size: var( --p-size );
	width: 120px;
	padding: 0.5rem;
}

textarea {

}


/* UI */

.c-spectrum-label {
	background-color: var( --color-not-real );
	color: white;
	text-align: center;
	font-size: 90%;
	padding: 0.5rem;
}

.c-slider + .c-spectrum-label {
	background-color: var( --color-real );
}

.c-track {
	background-image: linear-gradient( to right, var( --color-not-real ), var( --color-real ) );
}

.c-submit-button {
	border-radius: 5px;
	margin-top: 1rem;
	display: block;
}

.c-submit-button:hover {
	background-color: darkslateblue;
}

.c-submit-button:active {
	background-color: navy;
}

.c-intro-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media ( min-width: 600px ) {
	.c-intro-content {
		display: grid;
		grid-template-columns: minmax( auto, 200px ) 1fr;
		grid-gap: 1.5rem;
		text-align: left;
	}
}

/* Algos */

.a-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.a-space-children-vertical > * + * {
	padding-top: 20px;
}

.a-wrapper {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 900px;
	margin: 0 auto;
}

.a-space-form-fields input {
	margin-top: 1rem;
}

.a-fade-to {
	transition: opacity 0.35s ease;
}

.a-fade-to-20 {
	opacity: 0.2;
}

.a-screen-reader-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* .a-clearfix {
	content: "";
	display: table;
	clear: both;
} */


/* Utilities */

.u-flex {
	display: flex;
}

/* .u-float-left { 
	float: left;
} */

.u-align-items-center {
	align-items: center;
}

.u-width-100p {
	width: 100%;
}

.u-text-center {
	text-align: center;
}

.u-margin-t-250 {
	margin-top: 2.5rem;
}

.u-margin-t-1 {
	margin-top: 1rem;
}

.u-margin-tb-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.u-margin-r-1 {
	margin-right: 1rem;
}

.u-padding-a-1 {
	padding: 1rem;
}

.u-padding-tb-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.u-flex-wrap-wrap {
	flex-wrap: wrap;
}

.u-min-width-500 {
	min-width: 500px;
}

.u-background-yellow {
	background-color: lemonchiffon;
}

.u-font-size-16 {
	font-size: 1rem;
}

.u-font-size-20 {
	font-size: 1.25rem;
}

.u-font-size-28 {
	font-size: 1.75rem;
}

.u-font-size-36 {
	font-size: 2.25rem;
}

.u-background-white {
	background-color: white;
}

@media screen and ( min-width: 700px ) {
	.u-hidden\@tablet {
		display: none;
	}
}

@media screen and ( orientation: landscape ) {
	.u-hidden\@landscape {
		display: none;
	}
}

/* JS */ 

.is-selected {
	z-index: 5000;
}

.js-item {
	font-size: 1rem;
	white-space: nowrap;
	padding: 0.75rem;
	border: 2px solid black;
	background-color: white;
	display: inline-flex;
	margin: 0.25rem;
	box-shadow: var( --main-shadow );
}

.js-slider .js-item {
	/* Important to override GSAP */
	cursor: ew-resize !important;
}

.js-inventory .js-item {
	cursor: cell;
}

.js-item:focus {
	border-color: magenta;		
}

.js-slider .js-item {
	position: absolute;
	top: 50%;
	right: auto;
	left: calc( var( --positionX ) * 1% );
	transform: translateX( -50% ) translateY( -50% ) rotate( calc( var( --rotation ) * 1deg ) );
}

.js-slider {
	position: relative;
}

.js-track {
	height: 10px;
	width: 100%;
}